
/** RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

$colors2: ("fire": #fb6c6c,
"electricity": #fbe46c,
"bug": #7ccd55,
"dark": #595978,
"dragon": #62cad9,
"fairy": #f55d8a,
"fighting": #f3704a,
"flying": #94b2c7,
"ghost": #906791,
"grass": #27cb50,
"ground": #a8702d,
"ice": #75e9f0,
"normal": #cca5b0,
"poisson": #9b69da,
"phychic": #fb2f9c,
"rock": #8b3e22,
"steel": #43bd94,
"water": #6c94fb);

// POKEMONCARD WIDTH
$pokemonCard__width: 45vw;

/* Multiple Modifier */
@mixin modifier($modifier) {
  $len: str-length(#{&}); /* Get parent string length */
  $parent: str-slice(#{&}, 2, $len); /* Remove leading . */

  @at-root [class^="#{$parent}"][class*="--#{$modifier}"] {
    @extend .#{$parent};
    @content;
  }
}

@mixin color($modifier) {
  $len: str-length(#{&}); /* Get parent string length */
  $parent: str-slice(#{&}, 2, $len); /* Remove leading . */

  @at-root [class^="#{$parent}"][class*="--#{$modifier}"] {
    @extend .#{$parent};
    @content;
  }
}

.pokemonRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}

.pokemonCard {
  position: relative;
  width: 240px;
  height: 120px;
  margin: 24px 24px;
  cursor: pointer;
  
  @each $name, $color in $colors2 {
    @include modifier(#{$name}){
      .pokemonCard__colorLayer {
          fill: $color;
      }
    }
  }
}

.pokemonCard__box {
  display: flex;
  flex-direction: column;
  //background-color: #c4c4c4;
  border-radius: 999px;
  width: $pokemonCard__width;
  height: $pokemonCard__width/2;
  max-height: 120px;
  max-width: 240px;
  text-align: center;
}

.pokemonCard__image {
  display: block;
  position: relative;
  width: 88px;
  height: 88px;
  text-align: center;
  margin: auto auto;
  top: 44px;
}

.pokemonCard__name {
  margin: 44px 0 0 0;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;

  /* identical to box height */
  text-align: center;

  color: #ffffff;
}

.pokemonCard__background {
  position: absolute;
  display: block;
  top: 88px;
  left: 0;
  z-index: -100;
  
}

.pokemonCard__typesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
}

.pokemonCard__typeContainer {
  position: relative;
  width: 73px;
  height: 1rem;
  top: 0;
  left: 0;
  border-radius: 500px;
  padding: 2px 4px;
  margin: 0 8px;

}

.pokemonCard__typeBackdrop{
  position: absolute;
  width: 73px;
  height: 1rem;
  top: auto;
  left: auto;
  border-radius: 500px;
  padding: 2px 4px;
  background: #E2E2E2;
  mix-blend-mode: multiply;
}

.pokemonCard__typeOverlay{
  position: absolute;
  width: 73px;
  height: 1rem;
  top: auto;
  left: auto;
  border-radius: 500px;
  padding: 2px 4px;
  mix-blend-mode:multiply;

}

.pokemonCard__type {
  position: absolute;
  width:  73px;
  height: 1rem;
  top: auto;
  left: auto;
  border-radius: 500px;
  padding: 2px 4px;
  color: white;
  background-color: black;
  mix-blend-mode: screen;
}

.mixBlendMode{
  mix-blend-mode:soft-light;
} 